/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Project Styles

body {
	background-color: rgb(238, 238, 238);
}

.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 50px auto;
}

.items-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-around;

	.item {
		cursor: pointer;
		margin-top: 20px;

		img {
			width: 250px;
			height: 250px;
		}
		.item-details {
			padding: 20px;
			text-align: left;
			color: lightgray;
			background-color: #fff;

			hr {
				margin: 20px 0;
				border: 0.5px solid rgb(235, 235, 235);
			}

			.item-price {
				margin-top: 10px;
			}
		}
	}
}

.edit-container {
	display: grid;
	grid-template-columns: 270px 270px;
	position: absolute;
	padding: 10px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	background-color: #fff;
	box-shadow: 0 0 5px 5px rgba(211, 211, 211, 0.603);
	


	.image-container {
		img {
			width: 100%;
		}
	}

	.image-upload {
		position: relative;
		background-color: #E8E3DD;

		div {
			left: 50px;
			bottom: 50px;
			text-align: center;
			position: absolute;

			button {
				background: none;
				padding: 10px 15px;
				color: lightgray;
				outline: none;
				border: 0.5px dotted lightgray;
			}
			.add-more-text {
				margin: 10px;
				font-weight: bold;
				color: lightgray;
				text-transform: uppercase;
			}
			.drag-text {
				margin: 10px;
				font-size: 10px;
				color: lightgray;
				text-transform: capitalize;
			}
		}
	}

	.form-container {
		display: flex;
		flex-direction: column;

		hr {
			width: 90%;
			border: 0.5px solid rgb(224, 224, 224);
		}

		label {
			font-size: 12px;
			margin: 10px;
			color: rgb(218, 216, 216);
		}

		input {
			width: 90%;
			border: none;
			padding-left: 10px;
			outline: none;
			
		}

		input[type=text], input::placeholder  {
			font-size: 14px;
			font-weight: bold;
			color: rgb(129, 129, 129);
		}
		input::placeholder {
			color: lightgray;
		}


		span {
			padding-left: 10px;
		}

		select {
			border: none;
			outline: none;
			background: none;
			font-size: 16px;
			padding-left: 10px;
		}

		button {
			bottom: 0;
			right: -1px;
			border: none;
			color: #fff;
			padding: 20px;
			font-size: 26px;
			position: absolute;
			background-color: #56C9E9;
		}
	}

	.variation-container {
		text-align: center;
		margin-top: 40px;

		button {
			background: none;
			padding: 10px 15px;
			color: lightgray;
			border: 0.5px dotted lightgray;
			margin: 15px;
			outline: none;
		}

		.variation-text {
			font-size: 14px;
			color: lightgray;
			font-weight: bold;
		}
	}
}

